body {
  background: #eee;
}
.add {
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: 0.25rem;
  border-radius: 2000px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(10, 10, 10, 0.2);
}
.add:active {
  background-color: rgba(10, 10, 10, 0.5);
}
.add:before {
  background: #fff;
  content: '';
  width: 50%;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}
.add:after {
  background: #fff;
  content: '';
  height: 50%;
  width: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}
.navbar {
  background: #ddd;
}
.hero-body {
  padding: 0;
}
.search-box {
  margin-top: 50px;
}
.main-listing {
  margin-top: 1.5rem;
  .num {
    flex: none;
    padding: 0 5px 0 0;
    color: #999;
    font-size: 14px;
    width: auto;
  }
  .singleTrack {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .btn-trigger {
    margin-left: 5px;
  }
  .box-listing {
    padding: 0.5rem;
  }
}

.listing {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 0;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6eaee;
}
.content h3 {
  margin-bottom: 0;
}

.trackTitle span.trackNum {
  font-size: 12px;
}

.question-wrap {
  position: relative;
  border: 1px solid #ffdd57;
  background-color: #fff1bb;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
}
.question-wrap h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
.question-wrap::before {
  background: #ffdd57;
  border-radius: 2px 2px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: 'Question';
  display: inline-block;
  font-size: 7px;
  font-weight: 700;
  left: -1px;
  letter-spacing: 1px;
  margin-left: -1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}
.answer-wrap {
  position: relative;
  border: 1px solid #def0ff;
}
.answer-wrap::before {
  background: #57b3ff;
  border-radius: 2px 2px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: 'Answer';
  display: inline-block;
  font-size: 7px;
  font-weight: 700;
  left: -1px;
  letter-spacing: 1px;
  margin-left: -1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}
.modal-card-head {
  background-color: #fff;
  border-bottom: 0;
  padding: 10px 20px;
  .modal-card-title {
    font-size: 1rem;
  }
}
.modal-card-foot {
  flex: none;
  padding: 10px 20px;
}
.modal-card-body {
  padding: 0 20px 20px;
}
.singleTrack-wrap {
  // margin-top: 10%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.modal-background {
  background-color: rgba(90, 90, 90, 0.9);
}
.editTrack-wrap {
  margin-top: 70px;
}
.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover,
.table.is-hoverable.is-striped
  tbody
  tr:not(.is-selected):hover:nth-child(even) {
  background-color: hsl(48, 100%, 67%);
}
